[submodule "forge/lib/forge-std"]
	path = forge/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "forge/lib/dn404"]
	path = forge/lib/dn404
	url = https://github.com/vectorized/dn404
[submodule "forge/lib/solady"]
	path = forge/lib/solady
	url = https://github.com/vectorized/solady
